Project 1/force-app/main/default/flows/Contact_Creator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_account_to_contact</name>
        <label>Assign account to contact</label>
        <locationX>1097</locationX>
        <locationY>228</locationY>
        <assignmentItems>
            <assignToReference>ContactsToInsert.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountCreator.AccountToInsert.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Contact</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checked_for_existing</name>
        <label>Checked for existing</label>
        <locationX>542</locationX>
        <locationY>405</locationY>
        <defaultConnector>
            <targetReference>Contact_Informtion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>New Contact</defaultConnectorLabel>
        <rules>
            <name>Contatct_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Checkout_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Exists</targetReference>
            </connector>
            <label>Contatct Exists</label>
        </rules>
    </decisions>
    <decisions>
        <description>adds options to create or link an account</description>
        <name>Create_Link_Account</name>
        <label>Create/Link Account</label>
        <locationX>948</locationX>
        <locationY>404</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Create Contact</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_new_account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Would_you_Like_to_create_a_related_account</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AccountCreator</targetReference>
            </connector>
            <label>Yes Create new account</label>
        </rules>
    </decisions>
    <description>Creates new contact</description>
    <interviewLabel>Contact Creator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact Creator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>1106</locationX>
        <locationY>398</locationY>
        <connector>
            <targetReference>Contact_created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Page</targetReference>
        </faultConnector>
        <inputReference>ContactsToInsert</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Checkout_Contact</name>
        <label>Checkout Contact</label>
        <locationX>543</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checked_for_existing</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Page</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactsToInsert.FirstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactsToInsert.LastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>MailingStreet</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactsToInsert.MailingStreet</elementReference>
            </value>
        </filters>
        <filters>
            <field>MailingCity</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactsToInsert.MailingCity</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>ExistingContact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Account_Option</name>
        <label>Account Option</label>
        <locationX>828</locationX>
        <locationY>402</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Link_Account</targetReference>
        </connector>
        <fields>
            <name>Would_you_Like_to_create_a_related_account</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Would you Like to create a related account?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Address</name>
        <label>Address</label>
        <locationX>429</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Checkout_Contact</targetReference>
        </connector>
        <fields>
            <name>PrimaryAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContactsToInsert.MailingCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContactsToInsert.MailingCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContactsToInsert.MailingPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContactsToInsert.MailingState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContactsToInsert.MailingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Second_Address</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>false</booleanValue>
            </defaultValue>
            <fieldText>Second Address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Secondary_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContactsToInsert.OtherCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContactsToInsert.OtherCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContactsToInsert.OtherPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContactsToInsert.OtherState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContactsToInsert.OtherStreet</assignToReference>
                <name>street</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Second_Address</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_created</name>
        <label>Contact created</label>
        <locationX>1222</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmContact</name>
            <fieldText>&lt;p&gt;Your contact {!ContactsToInsert.FirstName} {!ContactsToInsert.LastName} has successfully been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Exists</name>
        <label>Contact Exists</label>
        <locationX>302</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_s_Name</targetReference>
        </connector>
        <fields>
            <name>ContactExists</name>
            <fieldText>&lt;p&gt;The contact you are trying to create already exists.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Informtion</name>
        <label>Contact_Informtion</label>
        <locationX>707</locationX>
        <locationY>400</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Account_Option</targetReference>
        </connector>
        <fields>
            <name>CellPhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cell Phone</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContactsToInsert.MobilePhone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <fields>
            <name>EmailAddress</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Address</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContactsToInsert.Email</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_s_Name</name>
        <label>Contact&apos;s Name</label>
        <locationX>293</locationX>
        <locationY>241</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Address</targetReference>
        </connector>
        <fields>
            <name>ContactName</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContactsToInsert.FirstName</assignToReference>
                <name>firstName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContactsToInsert.LastName</assignToReference>
                <name>lastName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Page</name>
        <label>Error Page</label>
        <locationX>814</locationX>
        <locationY>243</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Contact_s_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>AccountCreator</name>
        <label>AccountCreator</label>
        <locationX>949</locationX>
        <locationY>228</locationY>
        <connector>
            <targetReference>Assign_account_to_contact</targetReference>
        </connector>
        <flowName>Account_Creation_Wizard</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Creates related Accounts</description>
        <name>AccountToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ContactsToInsert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ExistingContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
